<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">

                    <a class="btn btn-navbar m-btn blue" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>


                    <h1 class="brand">
                        <a href="/">
                            <%=image_tag("logo.jpg",size:'160x100') =%>                            
                        </a>                            
                    </h1>
            
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                          <li><a href="/" class="anchorLink">Home</a></li>
                          <li><a href="/causes" class="anchorLink">Browse</a></li>
                          <% if user_signed_in? %>
              <li><%= current_user.email %>. Not you?</li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
              </li>
            <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            </li>
            <li><%= link_to "Log in", new_user_session_path %></li>
            <% end %>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>

<div id="someid">

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:encrypted_password) %></th>
      <th><%= model_class.human_attribute_name(:password_salt) %></th>
      <th><%= model_class.human_attribute_name(:confirmation_token) %></th>
      <th><%= model_class.human_attribute_name(:confirmed_at) %></th>
      <th><%= model_class.human_attribute_name(:confirmation_sent_at) %></th>
      <th><%= model_class.human_attribute_name(:reset_password_token) %></th>
      <th><%= model_class.human_attribute_name(:remember_token) %></th>
      <th><%= model_class.human_attribute_name(:remember_created_at) %></th>
      <th><%= model_class.human_attribute_name(:current_sign_in_at) %></th>
      <th><%= model_class.human_attribute_name(:last_sign_in_at) %></th>
      <th><%= model_class.human_attribute_name(:current_sign_in_ip) %></th>
      <th><%= model_class.human_attribute_name(:last_sign_in_ip) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.encrypted_password %></td>
        <td><%= user.password_salt %></td>
        <td><%= user.confirmation_token %></td>
        <td><%= user.confirmed_at %></td>
        <td><%= user.confirmation_sent_at %></td>
        <td><%= user.reset_password_token %></td>
        <td><%= user.remember_token %></td>
        <td><%= user.remember_created_at %></td>
        <td><%= user.current_sign_in_at %></td>
        <td><%= user.last_sign_in_at %></td>
        <td><%= user.current_sign_in_ip %></td>
        <td><%= user.last_sign_in_ip %></td>
        <td><%=l user.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user_path(user),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_path,
            :class => 'btn btn-primary' %>

</div>
